
.card {
  flex: unset;
  width: 320px;
  margin: 20px;
  border-top: 2px #3d3d3d solid;
  border-bottom: 2px #3d3d3d solid;
  border-right: 2px #3d3d3d solid;
  border-left: 2px #3d3d3d solid;
}


html, body {
  margin: 0;
  padding: 0;
 }
 
 h1 {
  margin: 0;
  /* Add any additional styles for h1 elements here */
 }
 
 .header {
  margin: 0;
  width: 100%;
  /* Add any additional styles for .header elements here */
 }
 

 .search {
  margin-top: 50px; /* Adjust this value as needed */
 }

.social-item, .social-item-insta {
  display: inline-block;
 }


 .select {
  background-color: 'grey';
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
 }

.social-item img {
  width: 40px;
  height: 40px;
 }

 .social-item-insta img {
  width: 50px;
  height: 50px;
 }

 .card-social {
  padding-left: 28px;
  padding-right: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 
 .social-item-insta {
  order: -1;
 }

 .social-item img, .social-item-insta img {
  margin: 10px;
 }
 
@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro'), url(./fonts/MabryPro-Light.woff) format('woff');
}

html * {
  color: #fcfcfc;
  font-family: 'Mabry Pro', Arial, sans-serif;
  background-color: rgb(193, 190, 190);
 }
 

.card-social {
  color: #fcfcfc;
  text-align: center;
 }

 .label {
  color: rgb(6, 6, 6);
 }
 
 .value {
  color: rgb(65, 65, 65);
 }
 
 .icon-small {
  width: 20px;
  height: 15px;
 }

 html {
  box-sizing: border-box;
 }
 *, *:before, *:after {
  box-sizing: inherit;
 }
 .inner {
  max-width: 550px;
  width: 90%;
  margin: auto;
  box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
 }
 
.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 00px; /* row gap: 0, column gap: 20px */
 }
 
 .card-header {

  text-align: center;
  flex: unset;
  display: flex;
  flex-direction: column;
  border-bottom: 2px #3d3d3d solid;
  padding: 20px; /* Adjust as needed */
 }

 .card-container {
  color: #fcfcfc;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
 }
 

 .footer {
  text-align: center;
  padding: 10px;
  color: #4e4e4e;
  background-color: rgb(193, 190, 190);

 }

 .header {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  background-color: rgb(34, 34, 34);
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
 }
 
 .header-para {
  margin-top: -15px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  height: 90px;
 }
 
