
html, body {
  margin: 0;
  padding: 0;
 }
 
 h1 {
  margin: 0;
  /* Add any additional styles for h1 elements here */
 }
 
 .header {
  margin: 0;
  width: 100%;
  border-bottom: thick double #000000;
  writing-mode: horizontal-tb;
  background-color: #272727;
  /* Add any additional styles for .header elements here */
 }

 .heading-cafe {
  margin-top: 90px;
  position: relative;
  text-align: center;
 }
 
 .header-logo {
  width: 90px;
  height: auto;
 }

.search {
  position: relative;
  padding: 40px;
 }

.social-item img {
  width: 40px;
  height: 40px;
 }

 .social-item-insta img {
  width: 50px;
  height: 50px;
 }

 .card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
 }
 
 
 .social-item-insta {
  order: -1;
 }

@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro'), url(./fonts/MabryPro-Light.woff) format('woff');
}

html * {
  color: #0e0e0e;
  font-family: 'Mabry Pro', Arial, sans-serif;
  
 }
 
 .label {
  color: rgb(6, 6, 6);
 }
 
 .value {
  color: rgb(65, 65, 65);
 }
 
 .icon-small {
  width: 20px;
  height: 15px;
 }

 html {
  box-sizing: border-box;
 }
 
 *, *:before, *:after {
  box-sizing: inherit;
 }


 .inner {
  max-width: 550px;
  width: 90%;
  margin: auto;
  box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
 }
 
.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 00px; /* row gap: 0, column gap: 20px */
 }
 
 .card-header {
  text-align: center;
  flex: unset;
  display: flex;
  flex-direction: column;
  border-bottom: 2px #3d3d3d solid;
  padding: 20px; /* Adjust as needed */
 }

 .card-details {
   border-radius: 45px;
 
 }

 .card-container{
  color: #802f2f;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 }

 .footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272727;
  color: rgb(250, 244, 244);
  font-weight: bold;
  text-align: center;
}

.background-blue {
  background-color: rgb(251, 185, 183);
 }
 
